{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Tasks</h1>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->
  <style>
    #myForm {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;
    }

    #myForm.show {
      max-height: 500px;
    }
  </style>

{#  <button id="showTaskForm" class="govuk-button" data-module="govuk">Add new task</button>#}
  <button type="button" class="govuk-button" data-module="govuk-button" name="create_task" id="create_task">
    Add new task
  </button>
  <fieldset class="govuk-fieldset" id="myForm">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        New Task
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="task-id">
        Task ID
      </label>
      <input class="govuk-input" id="task-id" name="taskid" type="number">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="case-number">
        Task Case Number
      </label>
      <input class="govuk-input" id="case-number" name="casenumber" type="number">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="title">
        Title
      </label>
      <input class="govuk-input" id="title" name="Title" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="description">
        Description
      </label>
      <input class="govuk-input" id="description" name="Description" type="text">
    </div>
    <button type="button" class="govuk-button" data-module="govuk-button" name="create_task" id="create_task-confirm">
      Confirm
    </button>
  </fieldset>

  <script>
    const show_form_button = document.getElementById("create_task");
    const form = document.getElementById("myForm");

    show_form_button.addEventListener("click", function() {
      form.classList.toggle("show");
      });
  </script>

  {%  for task in example %}
    {% if task.id %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "ID"
            },
            value: {
              text: task.id
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change case id ?!"
                }
              ]
            }
          },
          {
            key: {
              text: "Case Number"
            },
            value: {
              text: task.caseNumber
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change case number"
                }
              ]
            }
          },
          {
            key: {
              text: "Title"
            },
            value: {
              html: task.title
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change case title"
                }
              ]
            }
          },
          {
            key: {
              text: "Description"
            },
            value: {
              html: task.description
            },
            actions: {
              items: [
                 {
                   href: "#",
                   text: "Delete",
                   visuallyHiddenText: "Delete description"
                 },
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "Change description"
                 }
              ]
            }
          },
          {
            key: {
              text: "Status"
            },
            value: {
              html: task.status
            },
            actions: {
              items: [
              ]
            }
          },
          {
            key: {
             text: "Created Date"
            },
            value: {
             html: task.createdDate
            },
            actions: {
             items: [
             ]
            }
          }
        ]
      }) }}
      {% else %}
      Did not get task id
    {% endif %}

  {% endfor %}

{% endblock %}
